$font-size-main-desk: 18pt;
$font-size-primary-desk: 15pt;
$font-size-secondary-desk: 12pt;
$font-size-paragraph-desk: 10pt;

$font-size-main-tab: 17pt;
$font-size-primary-tab: 14pt;
$font-size-secondary-tab: 11pt;
$font-size-paragraph-tab: 9pt;

$font-size-main-mob: 16pt;
$font-size-primary-mob: 13pt;
$font-size-secondary-mob: 10pt;
$font-size-paragraph-mob: 8pt;

$font-weight-bold: bold;
$font-weight-normal: normal;